langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
arxiv
PyMuPDF
wikipedia
langchain-text-splitters
langchain-openai
chromadb
requests 
sentence_transformers
langchain_huggingface
tqdm
faiss-cpu
langchain_ollama
streamlit
langchain_groq
langserve 
fastapi
uvicorn
langchain_chroma
duckduckgo_search
pathway 
uagents
fetchai
plotly 
matplotlib
cohere
validators
uagents-ai-engine
unstructured
tiktoken
requests
langchain-anthropic

